/* DocumentTranslation.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  overflow: scroll; /* Allow the entire screen to be scrollable */
  height: fit-content;
}

.container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-container input,
.input-container select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result-container {
  padding: 10px;
  flex-grow: 1; /* Allow the result container to grow and take remaining space */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.textarea-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow-y: auto; /* Allow vertical scrolling */
  max-height: 100%; /* Set a maximum height, adjust as needed */
}

.hii {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
  gap: 20px;
  text-align: center; /* Center text within .hii */
}

.textarea-container textarea {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #1165bd;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0e4a8e;
}

.new-line {
  white-space: pre-line;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  body{
    margin:0;
    padding:0;
  }
  .miniC{
    display: block;
  }
  div  .flex-container{
    height: auto;
    display: block;
  }
  .main-container{
    height: auto;
    overflow-x: scroll;
  }
  .container{
    height: auto;
    display: flex;
    overflow-x: scroll;
  }
  .flex-container {
    flex-direction: column;
  }

  .input-container,
  .textarea-container {
    width: 100%;
  }

  .hii {
    grid-template-columns: 100%; /* One column for smaller screens */
  }
}
