body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

input,
select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea-container {
  width: 100%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.hii {
  margin-right: 60px;

  width: 100%;
  margin: 20px;
}

textarea {
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 16px;
  resize: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #1165bd;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0e4a8e;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .textarea-container,
  .hii {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    text-align: center;
  }
}
